<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.AddressMapper">

<select id="selectAll" resultType="com.itwill.unishop.domain.Address">
		SELECT * FROM ADDRESS
	</select>
	<select id="selectByNo" 
			parameterType="java.lang.Integer" 
			resultType="com.itwill.unishop.domain.Address">
		SELECT * FROM ADDRESS
		WHERE address_no=#{address_no}
	</select>
	<insert id="insertAddress" parameterType="com.itwill.unishop.domain.Address">
		<selectKey resultType="java.lang.Integer"
			keyProperty="address_no" order="BEFORE">
			SELECT address_no_seq.nextval FROM DUAL
		</selectKey>
		insert into address 
		values( #{address_no},#{address_zipcode},#{address_name},
		 		#{address_country},#{address_city},
		 		#{address_address1},#{address_address2})
	</insert>
	<delete id="deleteAddress" parameterType="java.lang.Integer">
		delete from guest where address_no = #{address_no}
	</delete>
	<update id="updateAddress" parameterType="com.itwill.unishop.domain.Address">
		update address set  address_zipcode=#{address_zipcode}, address_name=#{address_name},
		                  address_country=#{address_country}, address_city=#{address_city}, 
		                  address_address1=#{address_address1}, address_address2=#{address_address2} 
		where address_no = #{address_no}
	</update>
	
</mapper>