<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.JumunMapper">
	
	
	<!-- create -->
	<insert id="insertJumun" parameterType="com.itwill.unishop.domain.Jumun">
		<selectKey resultType="java.lang.Integer"
			keyProperty="jumun_no" order="BEFORE">
			select jumun_jumun_no_SEQ.nextval from dual
		</selectKey>
		insert into JUMUN 
		values (#{jumun_no}, #{jumun_date}, #{jumun_status},
				#{jumun_tot_price}, #{card_no}, #{card_expire_date},
				#{card_cvc}, #{card_member_name}, #{member_id},
				#{delivery_no})
	</insert>
	
	
	<!-- read -->
	<select id="selectAll" resultType="com.itwill.unishop.domain.Jumun">
		select * from JUMUN
	</select>
	
	<select id="selectById"
			parameterType="java.lang.String"
			resultType="com.itwill.unishop.domain.Jumun">
		select jumun_no, jumun_date, jumun_status, jumun_tot_price
		from JUMUN
		where member_id=#{member_id};
	</select>
	
	
	
	<!-- update -->
	<update id="updateJumunByNo" parameterType="com.itwill.unishop.domain.Jumun">
		update JUMUN 
		set jumun_date=#{jumun_date},
		    jumun_status=#{jumun_status},
		    jumun_tot_price=#{jumun_tot_price},
		    card_no=#{card_no},
		    card_expire_date=#{card_expire_date},
		    card_cvc=#{card_cvc},
		    card_member_name=#{card_member_name},
		    delivery_no=#{delivery_no}
		where jumun_no=#{jumun_no} and member_id=#{member_id};
	</update>
	
	
	
	<!-- delete -->
	<delete id="deleteJumunByNo" parameterType="java.lang.Integer">
		delete from JUMUN 
		where jumun_no=#{jumun_no}
	</delete>
	
	
	
	
	
	
	
</mapper>