<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.unishop.mapper.wishListMapper">
<insert id="insert" parameterType="com.itwill.unishop.domain.WishList">
		INSERT INTO WishList (review_no, member_id, product_no)
		     VALUES (wishlist_wish_no_seq.nextval, #{member_id}, #{product_no})
	</insert>
	<select id="selectByNo" resultType="com.itwill.unishop.domain.WishList">
			select review_no, member_id, product_no
			  from WishList
			 where member_id = #{member_id}      
	</select>
	<select id="selectAll" resultType="com.itwill.unishop.domain.WishList">
			select * from WishList
	</select>
	<delete id="delete" parameterType="com.itwill.unishop.domain.WishList">
		delete from WishList where wish_no = #{wish_no} 
	</delete>


</mapper>